.container {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-top: 100px;
}

@media (max-width: 400px) {
  .header-container {
    background-color: antiquewhite;
  }
  .nav-bar {
    display: none;
  }
}
.header-container {
  width: 1440px;
  height: 860px;
  left: 0px;
  right: 0%;
  top: 0px;
  bottom: 0%;
  background: rgb(52, 201, 182);
}
.header-container .nav-bar {
  margin-left: 131px;
  margin-top: 28px;
  font-family: roboto;
  font-size: 30px;
}
.header-container .nav-bar .nav-logo {
  color: rgb(199, 242, 255);
}
.header-container .nav-bar .nav-logo:hover {
  color: rgb(255, 255, 255);
}
.header-container .nav-bar .nav-logo2 {
  color: rgb(255, 255, 255);
}
.header-container .nav-bar .nav-logo2:hover {
  color: rgb(199, 242, 255);
}
.header-container .nav-item {
  display: flex;
  gap: 30px;
  margin-left: 556px;
  margin-top: 46px;
  color: rgb(235, 244, 243);
}
.header-container .br {
  width: 500px;
  height: 500px;
  margin-left: -1200px;
  margin-top: 180px;
  font-size: 20px;
}
.header-container .br2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 40px;
}
.header-container .header-text {
  color: rgb(255, 255, 255);
}
.header-container .rk {
  margin-left: -500px;
  margin-top: 480px;
  width: 153px;
  height: 55px;
  background-color: rgb(199, 242, 255);
}
.header-container .rk:hover {
  background-color: #fff;
}
.header-container .rk2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.header-container .rk3:hover {
  background-color: rgb(199, 242, 255);
}
.header-container .rk3 {
  width: 260px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  margin-top: 480px;
  margin-left: 30px;
}
.header-container .rk4 {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  font-size: 20px;
}
.header-container .header-rk {
  width: 250px;
  height: 500px;
  margin-left: 450px;
  margin-top: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
}
.header-container .header-rk2 {
  width: 236px;
  height: 446px;
  margin-left: 8px;
  margin-top: 30px;
  background-color: rgb(199, 242, 255);
  border-radius: 32px;
}
.header-container .header-rk3 {
  width: 82px;
  height: 23px;
  margin-left: 80px;
  background-color: aliceblue;
}
.header-container .header-img1 {
  margin-top: 40px;
}
.header-container .header-text2 {
  display: flex;
  margin-left: 35px;
  font-size: 42px;
  color: rgb(255, 255, 255);
}
.header-container .header-rk4 {
  width: 139px;
  height: 40px;
  border-radius: 23px;
  margin-left: 36px;
  margin-top: -15px;
  background-color: rgb(52, 201, 182);
}
.header-container .header-rk4:hover {
  background-color: aqua;
  color: beige;
}
.header-container .header_rk-text {
  display: inline-block;
  color: #fff;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 20px;
}
.header-container .header_rk-text:hover {
  color: black;
}

.main-container {
  width: 1440px;
  height: 1015px;
  background-color: rgb(248, 251, 255);
  margin-top: 1970px;
  margin-left: -1440px;
}
.main-container .main-text {
  width: 243px;
  height: 260px;
  margin-top: 130px;
  margin-left: 200px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}
.main-container .main-text-e {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 180px;
  background-color: rgba(0, 255, 255, 0.048);
  margin-left: 80px;
  margin-top: 40px;
}
.main-container .main-text-kamera {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-container .main-text-h {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.main-container .main-text-p {
  color: rgb(103, 100, 100);
  font-size: 12px;
  margin-left: 18px;
  margin-top: -20px;
}
.main-container .main-text2 {
  width: 243px;
  height: 260px;
  margin-top: 130px;
  margin-left: 20px;
  background-color: rgb(199, 242, 255);
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}
.main-container .main-text-e2 {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 180px;
  background-color: rgba(0, 255, 255, 0.048);
  margin-left: 80px;
  margin-top: 40px;
}
.main-container .main-text-kamera2 {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-container .main-text-h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.main-container .main-text-p2 {
  color: rgb(103, 100, 100);
  font-size: 12px;
  margin-left: 18px;
  margin-top: -20px;
}
.main-container .main-text3 {
  width: 243px;
  height: 260px;
  margin-top: 130px;
  margin-left: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}
.main-container .main-text-e3 {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 180px;
  background-color: rgba(0, 255, 255, 0.048);
  margin-left: 80px;
  margin-top: 40px;
}
.main-container .main-text-kamera3 {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-container .main-text-h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.main-container .main-text-p3 {
  color: rgb(103, 100, 100);
  font-size: 12px;
  margin-left: 18px;
  margin-top: -20px;
}
.main-container .main-text4 {
  width: 243px;
  height: 260px;
  margin-top: 130px;
  margin-left: 22px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
}
.main-container .main-text-e4 {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 180px;
  background-color: rgba(0, 255, 255, 0.048);
  margin-left: 80px;
  margin-top: 40px;
}
.main-container .main-text-kamera4 {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-container .main-text-h4 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.main-container .main-text-p4 {
  color: rgb(103, 100, 100);
  font-size: 12px;
  margin-left: 18px;
  margin-top: -20px;
}
.main-container .main-h1 {
  margin-left: -1140px;
  margin-top: 600px;
  font-size: 35px;
}
.main-container .main-p1 {
  color: rgb(117, 115, 115);
  font-size: 18px;
  margin-top: 100px;
}
.main-container .re {
  width: 403px;
  height: 200px;
  margin-top: 590px;
  margin-left: -460px;
}
.main-container .koz-k {
  /* Rectangle 10 */
  position: absolute;
  width: 494px;
  height: 510px;
  left: 2617px;
  right: 129px;
  top: 2456px;
  bottom: 49px;
}
.main-container .main-rk2 {
  width: 762px;
  height: 410px;
  margin-top: -600px;
  margin-left: 800px;
}
.main-container .al {
  margin-bottom: 5000px;
  margin-left: 700px;
  width: 368px;
  height: 368px;
}
.main-container .rasim-svg {
  position: absolute;
  width: 392px;
  height: 410px;
  left: 2525px;
  top: 2506px;
}
.main-container .rasim-png {
  position: absolute;
  width: 368px;
  height: 387px;
  left: 2516px;
  top: 2518px;
}